@model IEnumerable<PromitheasDomain.Classes.SocialMedia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialMediaUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialMediaUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SocialMediaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SocialMediaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SocialMediaId })
        </td>
    </tr>
}

</table>
