@model PromitheasDomain.Classes.Shop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopMembershipType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopMembershipType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShopId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
